
/*
Strikr Free Software Project.
https://strikr.io/
*/

body {
    color: #000000;
}


nav {
    background-color: #000000;
    color: #ffffff;
}


footer.col-md-12 {
    background-color: #000000;
    color: #ffffff;
}
